.img {
    margin-top: 5vh;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 4% 7%;
    display: block;
}
.contentWrapper {
    border: 2px solid #000;
    margin: 20% 7%;
    padding: 5% 7%;
}

.Wrapper {
    margin-bottom: 30%;
}

.contentHeader {
    font-weight: 400;
    margin: 10% 8%;
}
.contentBelow {
    margin-bottom: 10%;
}