.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 10%;
    right: 0;
    bottom: 0;
    // color: #623e2a;
}

.quote {
    width: 10%;
    height: 10%;
}

.content {
    font-weight: 500;
    // color: #623e2a;
}