.container {
    height: 30%;
}

.img {
    margin-top: 5vh;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 7%;
    display: block;
}
.contentWrapper {
    border: 2px solid #000;
    margin: 7% 7%;
    padding: 5% 7%;
}

.Wrapper {
    margin-bottom: 30%;
}