* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 100vw;
    height: 100%;

    @media screen and (min-width: 350px) {
        padding: 20% 0;
    }

    @media screen and (min-width: 850px) {
        padding: 10% 0 0 0;
    }
    &__wrapper {
        @media screen and (min-width: 1024px) {
            display: inline-block;
            width: 40vw;
        }
    }
    &__summary {
        @media screen and (min-width: 1024px) {
            width: 40vw;
            display: inline-block;
        }
    }
}

.container__wrapper {
    .inactiveBox {
      display: none;
    }
    .activeBox {
      display: block;
    }
  }
  
  .copy {
    margin: 0;
    text-align: center;
    padding: 3vh 0;
    font-size: .8rem;
    margin-top: 5vh;
  }
  