.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
    margin-bottom: 5%;
}

.a {
    text-decoration: none;
}

.img {
    margin-top: 5vh;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10%;
    @media screen and (min-width: 375px) {
        width: 70%;
    }
    @media screen and (min-width: 500px) {
        width: 65%;
    }
    @media screen and (min-width: 650px) {
        width: 55%;
    }
    @media screen and (min-width: 750px) {
        width: 50%;
    }
    @media screen and (min-width: 1024px) {
        width: 80%; 
    }
    @media (orientation: landscape) and (min-height: 320px) and (max-width: 950px) {
        width: 40%;
    }
}

.roomInfo {
    height: 60%;
    width: 80%;
    border: 2px solid #623e2a;
    @media screen and (min-width: 375px) {
        width: 70%;
    }
    @media screen and (min-width: 500px) {
        width: 65%;
    }
    @media screen and (min-width: 650px) {
        width: 55%;
    }
    @media screen and (min-width: 750px) {
        width: 50%;
    }
    @media screen and (min-width: 1024px) {
        width: 80%; 
    }
    @media (orientation: landscape) and (min-height: 320px) and (max-width: 950px) {
        width: 40%;
    }
}

span {
    display: block;
}

.people {
    margin: 7% 0 10% 7%;
    /* margin-top: 7%;
    margin-bottom: 30%;
    margin-left: 7%; */
}

.name {
    margin-bottom: 5;
    font-size: 1.5rem;
}

.price {
    margin-bottom: 4%;
}

.name, .price {
    margin-left: 7%;
}

.button {
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    display: block;
    margin: 10% auto;
    width: 50%;
    color: brown;
    font-weight: bold;
    height: 3vh;
    @media screen and (min-width: 375px) {
        width: 40%;
        height: 4vh;
    }
    @media screen and (min-width: 550px) {
        width: 30%;
    }
    @media (orientation: landscape) and (min-height: 320px) and (max-width: 950px) {
        width: 40%;
        height: 9vh;
    }
    @media (orientation: landscape) and (min-height: 450px) and (max-width: 950px) {
        height: 7vh;
        width: 35%;
    }
    @media (orientation: landscape) and (min-height: 450px) and (max-width: 950px) {
        height: 5vh;
        width: 35%;
    }
}

@media screen and (min-width: 1024px) {
    .roomWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}