.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
    margin-bottom: 5%;
}

.img {
    margin-top: 5vh;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10%;
}

.roomInfo {
    height: 60%;
    width: 80%;
    border: 2px solid #000;
}

span {
    display: block;
}

.people {
    margin: 7% 0 10% 7%;
    /* margin-top: 7%;
    margin-bottom: 30%;
    margin-left: 7%; */
}

.name {
    margin-bottom: 5;
    font-size: 1.5rem;
}

.price {
    margin-bottom: 4%;
}

.name, .price {
    margin-left: 7%;
}

.button {
    cursor: pointer;
    border: 1px solid #000;
    display: block;
    margin: 10% auto;
    width: 50%;
    height: 20%;
}