.container {

  padding: 10% 0;
  width: 100vw;
  height: 100%;

  @media screen and (min-width: 850px) {
    padding: 5% 0;
  }

  @media screen and (min-width: 1024px) {
    width: 100%;
  }

  &__form {
    height: 52vh;
    width: 80%;
    margin: 0 10%;
    padding: 7% 5%;
    border: 1px solid #ccc;
    border-top-right-radius: 10px;
    background-color: #faebd7;
    font-family: Arial, sans-serif;

    @media screen and (min-width: 350px) {
      width: 70%;
    }

    @media screen and (min-width: 400px) {
      height: 55vh;
    }

    @media screen and (min-width: 475px) {
      width: 60%;
      margin: 0 15%;
    }

    @media screen and (min-width: 550px) {
      width: 50%;
      margin: 0 20%;
    }

    @media screen and (min-width: 650px) {
      height: 60vh;
    }

    @media screen and (min-width: 750px) {
      width: 40%;
      padding: 5%;
    }

    @media screen and (min-width: 850px) {
      margin: 0 30%;
    }

    @media screen and (min-width: 900px) {
      width: 30%;
    }

    @media screen and (min-width: 1024px) {
      width: 80%;
      margin: 0 10%;
    }
    @media screen and (min-width: 1200px) {
      width: 70%;
    }
    @media screen and (min-width: 1400px) {
      width: 60%;
    }
    @media screen and (min-width: 1700px) {
      width: 50%;
      margin-left: 20%;
    }

    &__formGroup {
      margin-top: 7%;
      margin-bottom: 10%;
      padding: 0 10%;

      &__button {
        display: block;
        padding: 0.5rem 1rem;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        margin-left: 3%;
        transition: background-color 0.3s ease;
        width: 50%;
      }
    }

    label {
      font-size: .9rem;
      font-weight: 500;
    }

    input {
      text-align: center;
      border: none;
      width: 90%;
      border-radius: 5px;
      height: 4vh;
    }

    p {
      font-size: .8rem;
      color: red;
    }

    ::placeholder {
      font-size: .9rem;
      font-weight: 500;
    }
  }
}