.container {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        width: 100%;
    }

    @media screen and (min-width: 400px) {
        padding: 0 7%;
    }

    &__optionalAddition {
        width: 100%;

        @media screen and (min-width: 350px) {
            width: 90%;
        }

        @media screen and (min-width: 475px) {
            width: 80%;
        }

        @media screen and (min-width: 550px) {
            width: 70%;
        }

        @media screen and (min-width: 650px) {
            width: 60%;
        }

        @media screen and (min-width: 750px) {
            width: 50%;
        }

        @media screen and (min-width: 900px) {
            width: 40%;
        }

        @media screen and (min-width: 1024px) {
            width: 100%;
        }

        @media screen and (min-width: 1200px) {
            width: 90%;
        }

        @media screen and (min-width: 1400px) {
            width: 80%;
        }

        @media screen and (min-width: 1700px) {
            width: 70%;
        }
        @media (orientation: landscape) and (min-width: 320px) and (max-width: 950px) {
            height: 100%;
        }

        height: 80%;
        gap: 3vh;
        margin-top: 3vh;

        &__oneWay {
            height: 5vh;
            width: 37vw;
            margin: 5vh 5vw;
            display: inline-block;
            border-radius: 15px;
            border: none;
            background-color: #007bff;
            color: #fff;
            font-size: .9rem;
            font-weight: 500;

            @media screen and (min-width: 350px) {
                width: 35vw;
            }

            @media screen and (min-width: 400px) {
                width: 30vw;
                margin: 5vh 3vw;
            }

            @media screen and (min-width: 475px) {
                width: 25vw;
            }

            @media screen and (min-width: 550px) {
                width: 22vw;
            }

            @media screen and (min-width: 650px) {
                width: 19vw;
            }

            @media screen and (min-width: 750px) {
                width: 15vw;
            }

            @media screen and (min-width: 900px) {
                width: 11vw;
            }

            @media screen and (min-width: 1200px) {
                margin: 5vh 1.5vw;
                width: 9vw;
            }
            @media (orientation: landscape) and (min-width: 320px) and (max-width: 950px) {
                width: 15vw;
                height: 12vh;
            }
        }

        &__header {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__img {
            margin-left: 5vw;
            border-top-right-radius: 15px;
            width: 40%;
            height: 75%;
            display: inline-block;
        }

        &__content {
            width: 50%;
            margin-left: 5%;
            font-size: 1.5rem;
            font-weight: 600;
            display: inline-block;
        }

        &__time,
        &__breakfast {
            margin-top: 2vh;
            font-size: 1.2rem;
            gap: 5%;
            width: 100vw;
            display: flex;
            justify-content: center;

            @media screen and (min-width: 350px) {
                font-weight: 500;
                font-size: 1.1rem;
            }

            align-items: center;
        }

        &__breakfast {
            height: 90%;
            gap: 8%;
            flex-direction: column;

        }

        &__box,
        &__second {
            border-top-right-radius: 15px;
            width: 93%;
            height: 26vh;
            font-size: 1.5rem;
            border: 2px solid #623e2a;
            font-weight: 500;
            margin: 5vh auto;
            gap: 2vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @media screen and (min-width: 400px) {
                width: 100%;
            }
            
            @media (orientation: landscape) and (min-width: 320px) and (max-width: 950px) {
                height: 100%;
                padding: 10%;
            }

            &__button {
                display: block;
                padding: 0.75rem 1rem;
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                transition: background-color 0.3s ease;
                width: 60%;

                @media screen and (min-width: 350px) {
                    width: 50%;
                    padding: .7rem .5rem;
                }

                @media screen and (min-width: 1024px) {
                    width: 35%;
                }
                @media (orientation: landscape) and (min-width: 320px) and (max-width: 950px) {
                    margin-top: 10%;
                }

                &__breakfast {
                    display: block;
                    padding: 0.75rem 1rem;
                    background-color: #007bff;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    font-size: 1rem;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    width: 60%;
                    margin-top: 5%;

                    @media screen and (min-width: 350px) {
                        margin-top: 10%;
                    }
                    @media screen and (min-width: 1024px) {
                        width: 35%;
                    }
                    
                }
            }
        }

        &__second {
            height: 30vh;
            @media (orientation: landscape) and (min-width: 320px) and (max-width: 950px) {
                height: 100%;
            }
        }
    }
}

.customInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    color: #333;
    /* Dodaj dodatkowe style dostosowane do Twoich preferencji */
}