.container {
    width: 100vw;
    height: 100%;
    @media screen and (min-width: 1024px) {
        width: 100%;
    }

    &__payments {
        height: 50%;
        margin-left: 6%;

        @media screen and (min-width: 350px) {
            margin-left: 10%;
        }

        @media screen and (min-width: 475px) {
            margin-left: 20%;
        }

        @media screen and (min-width: 650px) {
            margin-left: 25%;
        }

        @media screen and (min-width: 850px) {
            margin-left: 30%;
        }

        @media screen and (min-width: 900px) {
            margin-left: 35%;
        }
        @media screen and (min-width: 1024px) {
            margin-left: 10%;;
        }
        @media screen and (min-width: 1200px) {
            margin-left: 15%;
        }

        &__content {
            font-weight: 400;
            font-size: 1.4rem;
        }

        &__card,
        &__blik,
        &__cash {
            border: 2px solid #623e2a;
            border-top-right-radius: 15px;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10%;
            margin-top: 10%;
            width: 90%;

            @media screen and (min-width: 350px) {
                width: 80%;
            }

            @media screen and (min-width: 350px) {
                width: 70%;
            }

            @media screen and (min-width: 475px) {
                width: 65%;
            }

            @media screen and (min-width: 550px) {
                width: 60%;
            }

            @media screen and (min-width: 650px) {
                width: 50%;
            }

            @media screen and (min-width: 900px) {
                width: 40%;
            }
            @media screen and (min-width: 1024px) {
                width: 80%;
            }
            @media screen and (min-width: 1200px) {
                width: 70%;
            }
            @media screen and (min-width: 1700px) {
                width: 50%;
            }
        }

        &__card {
            padding: 3%;

            &__img {
                width: 15%;

                @media screen and (min-width: 350px) {
                    width: 20%;
                }
            }
        }

        &__blik {
            padding: 3%;

            &__img {
                &__blik {
                    width: 25%;
                    display: block;

                    @media screen and (min-width: 350px) {
                        width: 30%;
                    }
                }
            }
        }

        &__cash {
            padding: 2%;

            &__img {
                width: 20%;

                @media screen and (min-width: 350px) {
                    width: 25%;
                }
            }
        }
    }
}

#spanLast {
    margin: 0;
}